<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- Force latest IE rendering engine or ChromeFrame if installed -->
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{%- block title-%}{%- endblock -%}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="{%- block description-%}{%- endblock -%}" />
    <meta name="copyright" content="{{copy()}}" />
    <link rel="icon" href="{{absurl()}}blacksheep-favicon-white.png" type="image/x-icon" />
    <link href="{{absurl()}}vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/highlight.min.js"></script>
    {%- block css -%}{%- endblock -%}
</head>

<body id="page-top">
    <script>hljs.initHighlightingOnLoad()</script>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">BlackSheep</a>
            <button
                class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded"
                type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#getting-started">Getting
                            started</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contact</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{absurl()}}docs">OpenAPI
                            Docs</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="content">
        {%- block body -%}{%- endblock -%}
    </div>

    <script src="{{absurl()}}vendor/jquery/jquery.min.js"></script>
    <script src="{{absurl()}}vendor/jquery-easing/jquery.easing.js"></script>
    <script src="{{absurl()}}vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    {%- block js -%}{%- endblock -%}
    {% include "partial/footer.jinja" %}
</body>

</html>
