blacksheep[full]~=2.1.0
Jinja2~=3.1.6
uvicorn==0.34.0
uvloop; platform_system != "Windows"
{%- if cookiecutter.app_settings_library == "essentials-configuration" %}
essentials-configuration[full]
{%- endif %}
{%- if cookiecutter.app_settings_library == "Pydantic" %}
pydantic-settings
{%- endif %}
MarkupSafe==3.0.2
pydantic
