{%- extends "layout.jinja" -%}
{%- block title -%}
BlackSheep MVC Project Template
{%- endblock -%}
{%- block description -%}
Project template to create web applications with MVC architecture using BlackSheep web framework.
{%- endblock -%}
{%- block css -%}
<link rel="stylesheet" href="{{absurl()}}styles/public.css" />
{%- endblock -%}
{%- block body -%}
<section id="example">
    <h1>Example...</h1>
</section>
{%- endblock -%}
{%- block js -%}

{%- endblock -%}
