{%- extends "layout.jinja" -%}
{%- block title -%}
BlackSheep MVC Project Template
{%- endblock -%}
{%- block description -%}
Project template to create web applications with MVC architecture using BlackSheep web framework.
{%- endblock -%}
{%- block css -%}
<link rel="stylesheet" href="{{absurl()}}styles/public.css" />
{%- endblock -%}
{%- block body -%}

<header class="masthead bg-primary text-white text-center" style="--bg-color: {{bgcolor()}};">
    <div class="container d-flex align-items-center flex-column">

        <!-- Masthead Avatar Image -->
        <img class="masthead-avatar mb-5" src="images/blacksheep.png" alt="BlackSheep">

        <!-- Masthead Heading -->
        <h1 class="masthead-heading mb-0">BlackSheep is an asynchronous web framework to build event based, non-blocking
            Python web applications</h1>

        <!-- Icon Divider -->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- Masthead Subheading -->
        <p class="masthead-subheading font-weight-light mb-0">fast ASGI web framework, and HTTP client for
            <strong>Python</strong> asyncio
        </p>

    </div>
</header>

<section class="page-section portfolio" id="getting-started">
    <div class="container">

        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Getting started</h2>

        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <div class="row">
            <div class="mx-auto">
                <ol class="text-center">
                    <li><a href="https://www.neoteroi.dev/blacksheep/mvc-project-template/" target="_blank">Read the
                            tutorial</a></li>
                    <li>Familiarize with the folder structure of the project</li>
                    <li>Learn how to define <a href="https://www.neoteroi.dev/blacksheep/request-handlers/">request
                            handlers</a></li>
                    <li>Familiarize with <a href="https://www.neoteroi.dev/blacksheep/dependency-injection/">DI</a> and
                        <a href="https://www.neoteroi.dev/blacksheep/binders/">model binding</a>
                    </li>
                    <li>Refer to the <a href="https://www.neoteroi.dev/blacksheep/">documentation</a></li>
                </ol>
                <pre>
            <code class="python">
from dataclasses import dataclass
from blacksheep.server.controllers import Controller, get, post, delete
from blacksheep.server.bindings import FromJson


@dataclass
class Example:
    name: str
    foo: str


class Home(Controller):

    @get()
    def index(self):
        return self.view()

    @post("/item")
    def create_item(self, item: FromJson[Example]):
        ...

    @delete("/item/:item_id")
    def delete_item(self, item_id: str):
        ...
            </code>
          </pre>
                <hr />
                <p>It is possible to define API endpoints using the <em>Controller</em> or the <em>APIController</em>
                    class:</p>
                <pre>
            <code class="python">
from blacksheep import Response
from blacksheep.server.controllers import APIController, delete, get, patch, post


# In this case, the entity name is obtained from the class name: "cats"
# To specify a @classmethod called "class_name" and returning a string, like in the
# Foo example below.
class Cats(APIController):
    @get(":cat_id")
    def get_cat(self, cat_id: str) -> Response:
        """
        Handles GET /api/cats/:id
        """

    @patch(":cat_id")
    def update_cat(self, cat_id: str) -> Response:
        """
        Handles PATCH /api/cats/:id
        """

    @post()
    def create_cat(self) -> Response:
        """
        Handles POST /api/cats
        """

    @delete(":cat_id")
    def delete_cat(self, cat_id: str) -> Response:
        """
        Handles DELETE /api/cats/:id
        """


class FooExample(APIController):
    @classmethod
    def class_name(cls) -> str:
        return "foo"

    @get(":cat_id")
    def get_cat(self, cat_id: str) -> Response:
        """
        Handles GET /api/foo/:id
        """
            </code>
          </pre>
            </div>
        </div>

    </div>
</section>

<!-- About Section -->
<section class="page-section bg-primary text-white mb-0" id="about" style="--bg-color: {{bgcolor()}};">
    <div class="container">

        <!-- About Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>

        <!-- Icon Divider -->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- About Section Content -->
        <div class="row">
            <div class="col-lg-4 ml-auto">
                <p class="lead"><a href="https://github.com/Neoteroi/BlackSheep">BlackSheep</a> is a fast web framework
                    for <strong>Python</strong> asyncio, inspired by <a
                        href="https://palletsprojects.com/p/flask/">Flask</a> and <a
                        href="https://docs.microsoft.com/en-us/aspnet/core/">ASP.NET Core</a>.
                    Its unique features, among web frameworks for <strong>Python</strong>, are built-in support for <a
                        href="https://www.neoteroi.dev/blacksheep/dependency-injection/">dependency injection</a>, and a
                    <a href="https://www.neoteroi.dev/blacksheep/request-handlers/">flexible model</a> to define request
                    handlers.
                </p>
            </div>
            <div class="col-lg-4 mr-auto">
                <p class="lead"><a href="https://github.com/Neoteroi/BlackSheep">BlackSheep</a> adheres to <a
                        href="https://asgi.readthedocs.io/en/latest/">ASGI</a>: it must be used with an HTTP server like
                    <a href="http://www.uvicorn.org/">uvicorn</a>, <a
                        href="https://github.com/django/daphne/">daphne</a>, or <a
                        href="https://pgjones.gitlab.io/hypercorn/">hypercorn</a>.
                    <br><a href="https://github.com/Neoteroi/BlackSheep">BlackSheep</a> targets the most recent versions
                    of <strong>Python</strong> language.
                </p>
            </div>
        </div>

        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" href="https://github.com/Neoteroi/BlackSheepMVC">
                <i class="fab fa-github mr-2"></i>
                BlackSheep MVC
            </a>
        </div>

    </div>
</section>

<!-- Contact Section -->
<section class="page-section" id="contact">
    <div class="container">

        <!-- Contact Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contact the author</h2>

        <!-- Icon Divider -->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- Contact Section Form -->
        <div class="row">
            <div class="text-center mx-auto">
                <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/Neoteroi">
                    <i class="fab fa-fw fa-github"></i>
                </a>
                <a class="btn btn-outline-light btn-social mx-1"
                    href="https://www.linkedin.com/in/roberto-prevato-a186a650">
                    <i class="fab fa-fw fa-linkedin-in"></i>
                </a>
            </div>
        </div>

    </div>
</section>

<footer class="footer text-center">
    <div class="container">
        <div class="row">

            <div class="text-center mx-auto">
                <h4 class="text-uppercase mb-4">About Freelancer (this web page theme)</h4>
                <p class="lead mb-0">Freelancer is a free to use, MIT licensed Bootstrap theme created by
                    <a href="http://startbootstrap.com">Start Bootstrap</a>.
                </p>
            </div>

        </div>
    </div>
</footer>

<!-- Copyright Section -->
<section class="copyright py-4 text-center text-white">
    <div class="container">
        <small>Copyright &copy; {{copy()}}</small>
    </div>
</section>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

{%- endblock -%}
{%- block js -%}
<script src="{{absurl()}}scripts/freelancer.js"></script>
{%- endblock -%}
